.wrap {
  width: 50%;
  margin: 0 auto;
}

.navi {
  margin-left: 10px;
  margin-right: 10px;
}

.container {
  margin-left: 10px;
}

.newItemWrap {
  height: 30px;
}

.newItem {
  float: left;
  height: 100%;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.newItemBtn {
  height: 100%;
  width: 25%;
  float: left;
}

.item-list {
  padding: 0;
  margin: 0;
  list-style-position: inside;
}

.item {
  height: 30px;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.itemCheck {
  height: 100%;
  width: 10%;
  padding: 0px;
  margin: 0px;
  position: relative;
  vertical-align: middle;
}

.deleteNote {
  height: 100%;
  width: 25%;
  margin: 0;
  position: relative;
  vertical-align: middle;
  float: right;
}

.itemText {
  height: 100%;
  width: 60%;
  padding: 0px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  vertical-align: middle;
}

.editItem {
  height: 100%;
  width: 60%;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  vertical-align: middle;
}
