.wrap {
  width: 50%;
  margin: 0 auto;
}

.navi {
  margin-left: 10px;
  margin-right: 10px;
}

.container {
  margin-left: 10px;
}

.newItemWrap {
  height: 30px;
}

.newItem {
  float: left;
  height: 100%;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.newItemBtn {
  height: 100%;
  width: 25%;
  float: left;
}
